<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new business</title>
    <style type="text/css">
            /*表格样式*/
            table {
                width: 30%;
                background: #ccc;
                margin: 10px auto;
                border-collapse: collapse;
                /*border-collapse:collapse合并内外边距
                (去除表格单元格默认的2个像素内外边距*/
            }
            th,td {
                height: 25px;
                line-height: 25px;
                text-align: left;
                border: 1px solid #ccc;
            }
            th {
                background:#328aa4;
                color:#fff;
                font-weight: normal;
            }

            tr:nth-child(1n){
                 background:#eee;
             }
            tr:nth-child(2n) {
                background: #fff;
            }

            td a {
                color: #06f;
                text-decoration: none;
            }
            td a:hover {
                color: #06f;
                text-decoration: underline;
            }






    </style>

    <script type="text/javascript">
        function setSelected(selectID,value){
            select = document.getElementById(selectID);
                for (var i = 0; i < select.options.length; i++){
                if (select.options[i].value == value){
                    select.options[i].selected = true;
                    break;
                }
            }
        }

        function formatDate(dateID, dateString){
            var d = new Date(dateString);
            month = ''+ (d.getMonth()+1);
            day = ''+d.getDate();
            year= d.getFullYear();

           if (month.length < 2){
                  month = '0'+ month;
           }
           if (day.length < 2){
                day = '0'+ day;
           }
           dateString1 = [year,month,day].join('-');
           dateObj = document.getElementById(dateID);
           dateObj.value=dateString1;
        }

        function setCheckbox(checkboxID, checkboxString){
           checkboxObj = document.getElementById(checkboxID);
           if (checkboxString =="YES"){
              document.getElementById(checkboxID).checked = true;
           }
           if (checkboxString =="NO"){
              document.getElementById(checkboxID).checked = false;
           }
        }

        function uploadMultiFiles(filesID){
            var fileObj=document.getElementById("filesID");
            var formData=new FormData();
            var fileList=fileObj.files;
            console.log(fileList.length);
            for (const file of inputFile.files) {
                formData.append("files", file);
            }
            for(let i=0;i<fileList.length;i++) {
                var file=fileList[i];
                formData.append("file"+i,file);
                console.log(file.name+file.lastModifiedDate);
            }

        }



        function getShortFileName(longFilename){
            return longFilename.substr(longFilename.lastIndexOf(longFilename)+1);
        }

        function calCostVentaOrigen(){
            calCostLocal();
            calCostHBLDestino();
            var cost_org=document.getElementById("cost_org").value;
            var sale_org=document.getElementById("sale_org").value;
            document.getElementById("set_org").value = (parseFloat(sale_org)+parseFloat(cost_org))/2;
            document.getElementById("topaid_org").value=parseFloat(document.getElementById("set_org").value)+parseFloat(document.getElementById("local_org").value);
            document.getElementById("topaid_org_description").value = document.getElementById("set_org").value+"+"+document.getElementById("local_org").value;
            document.getElementById("venta_dest").value = sale_org;
            calVenta();
        }
        function calCostLocal(){
            if (document.getElementById("clientname").value == "亚美ASIAMERIC"){
                document.getElementById("local_org").value="370";
            }else{
                document.getElementById("local_org").value="0";
            }
        }
        function calCostHBLDestino(){
            if (document.getElementById("shipping_line").value=="MSC"){
                document.getElementById("costhbl_dest_description").value="90+125+102";
                document.getElementById("costhbl_dest").value=90+125+102;
            }else if (document.getElementById("shipping_line").value=="MSK"){
                document.getElementById("costhbl_dest_description").value="90+125+55";
                document.getElementById("costhbl_dest").value=90+125+55;
            }else if (document.getElementById("shipping_line").value=="YML"){
                document.getElementById("costhbl_dest_description").value="90+142+120";
                document.getElementById("costhbl_dest").value=90+142+120;
            }else if (document.getElementById("shipping_line").value=="OOCL"){
                document.getElementById("costhbl_dest_description").value="90+218+55";
                document.getElementById("costhbl_dest").value=90+218+55;
            }else if (document.getElementById("shipping_line").value=="CMA"){
                document.getElementById("costhbl_dest_description").value="90+120+50";
                document.getElementById("costhbl_dest").value=90+120+50;
            }else if (document.getElementById("shipping_line").value=="EMC"){
                document.getElementById("costhbl_dest_description").value="90+120+100";
                document.getElementById("costhbl_dest").value=90+120+100;
            }else{
                document.getElementById("costhbl_dest_description").value="90+X+X";
                document.getElementById("costhbl_dest").value="";
            }
        }


        function calVenta(){
            addi_cost=0;
            document.getElementById("toinvoice_dest_description").value=document.getElementById("venta_dest").value;
            document.getElementById("toinvoice_dest").value = document.getElementById("venta_dest").value;


            if (document.getElementById("shipping_line").value=="MSC"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+"+"X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="MSK"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="YML"){
                document.getElementById("toinvoice_dest_description").value +="+300+142";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+142;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="OOCL"){
                document.getElementById("toinvoice_dest_description").value +="+300+125+85";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125+85;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="CMA"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="EMC"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else{
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }
            if (document.getElementById("clientname").value=="亚美ASIAMERIC"){
                document.getElementById("toinvoice_dest_description").value +="+370";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+370;
            }
            document.getElementById("profit").value = parseFloat(document.getElementById("toinvoice_dest").value)-parseFloat(document.getElementById("costhbl_dest").value)-parseFloat(document.getElementById("topaid_org").value);

        }

        function calCostVentaDestino(){
            //calCostLocal();
            //calCostHBLDestino();
            var cost_org=document.getElementById("cost_org").value;
            var sale_org=document.getElementById("sale_org").value;
            document.getElementById("set_org").value = (parseFloat(sale_org)+parseFloat(cost_org))/2;
            document.getElementById("topaid_org").value=parseFloat(document.getElementById("set_org").value)+parseFloat(document.getElementById("local_org").value);
            document.getElementById("topaid_org_description").value = document.getElementById("set_org").value+"+"+document.getElementById("local_org").value;
            //document.getElementById("venta_dest").value = sale_org;
            calVenta();
        }


    </script>
</head>
<body>
<form id="delbusiness-form" method="post" action="/exports/delbusiness/">
    {% csrf_token %}
    <input id="idbusinessfordelete" name="idbusinessfordelete" value="{{exportinfo.id}}"
           type="hidden" class="form-control">
    <input type="submit" value="Delete/删除" class="btn btn-primary pull-right"/>
    <p></p>
</form>
<form id="booking-form" method="post" action="/exportbooking/">
    {% csrf_token %}
    <input id="idbusinessforbooking" name="idbusinessforbooking" value="{{exportinfo.id}}"
           type="hidden" class="form-control">

    <input type="submit" value="Generate Booking" class="btn btn-primary pull-right"/>
    <p></p>
</form>
<form id="prealerta-form" method="post" action="/exportprealerta/">
    {% csrf_token %}
    <input id="idbusinessforprealerta" name="idbusinessforprealerta" value="{{exportinfo.id}}"
           type="hidden" class="form-control">

    <input id="toinv_desc_forprealerta" name="toinv_desc_forprealerta" value="{{exportinfo.toinvoice_dest_description}}"
           type="hidden" class="form-control">

    <input id="toinv_forprealerta" name="toinv_forprealerta" value="{{exportinfo.toinvoice_dest}}"
           type="hidden" class="form-control">

    <input type="submit" value="Generate Pre-Alerta" class="btn btn-primary pull-right"/>
    <p></p>
</form>

<form id="newbusiness-form" method="post" action="/exports/saveBusinessExport/" enctype="multipart/form-data">
    <input id="userSelectBID" name="userSelectBID" value="{{exportinfo.id}}"
           type="hidden" class="form-control">
    {% csrf_token %}
    <fieldset>
        <legend>Business Information:</legend>
        <table align="left">
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>MODIFY A BUSINESS:</legend>
                        <label for="id">N°/编号：</label>
                        <input readonly id="id" name="id"
                               value="{{ exportinfo.id }}"
                               type="text" class="form-control">
                        <br>
                        <legend>Vessel Information:</legend>
                        <label for="booking_no">Booking No：</label>
                        <input id="booking_no" name="booking_no" value="{{ exportinfo.booking_no}}" type="text" class="form-control" required>*
                        <br>
                        <label for="shipping_line">Carrier：</label>
                        <input id="shipping_line" name="shipping_line" value="{{ exportinfo.shipping_line}}" type="text" class="form-control" required>*
                        <br>
                        <label for="vessel_voyage">Vessel Voyage：</label>
                        <input id="vessel_voyage" name="vessel_voyage" value="{{ exportinfo.vessel_voyage}}" type="text" class="form-control" required>*
                        <br>
                        <label for="delivery_terminal">Delivery Terminal：</label>
                        <input id="delivery_terminal" name="delivery_terminal" value="{{ exportinfo.delivery_terminal}}" type="text" class="form-control" required>*
                        <script>
                            setSelected("booking_no","{{exportinfo.booking_no}}");
                            setSelected("shipping_line","{{exportinfo.shipping_line}}");
                            setSelected("vessel_voyage","{{exportinfo.vessel_voyage}}");
                            setSelected("delivery_terminal","{{exportinfo.delivery_terminal}}");
                        </script>
                    </fieldset>
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Port Information:</legend>
                        <label for="pol">POL：</label>
                        <input id="pol" name="pol" value="{{ exportinfo.pol}}" type="text" class="form-control"required>*
                        <br>
                        <label for="pol_sailing">POL Sailing：</label>
                        <input id="pol_sailing" name="pol_sailing" value="{{ exportinfo.pol_sailing}}" type="text" class="form-control">
                        <br>
                        <label for="pod_discharge">POD Discharge：</label>
                        <input id="pod_discharge" name="pod_discharge" value="{{ exportinfo.pod_discharge}}" type="text" class="form-control">
                        <br>
                        <label for="pod">POD：</label>
                        <input id="pod" name="pod" type="text" value="{{ exportinfo.pod}}" class="form-control"required>*
                        <br>
                        <script>
                            setSelected("pol","{{exportinfo.pol}}");
                            setSelected("pol_sailing","{{exportinfo.pol_sailing}}");
                            setSelected("pod_discharge","{{exportinfo.pod_discharge}}");
                            setSelected("pod","{{exportinfo.pod}}");
                        </script>
                    </fieldset>

                    <fieldset>
                        <legend>Date Information:</legend>
                        <label for="pickup_ctrs">Pickup ctrs: </label>
                        <input id="pickup_ctrs" name="pickup_ctrs" value="{{ exportinfo.pickup_ctrs}}" type="datetime-local" class="form-control">
                        <br>
                        <label for="cutoff_docmatriz">Cutoff Doc. Matriz: </label>
                        <input id="cutoff_docmatriz" name="cutoff_docmatriz" value="{{ exportinfo.cutoff_docmatriz}}" type="datetime-local" class="form-control">
                        <br>
                        <label for="cutoff_vgm">Cutoff VGM: </label>
                        <input id="cutoff_vgm" name="cutoff_vgm" value="{{ exportinfo.cutoff_vgm}}" type="datetime-local" class="form-control">
                        <br>
                        <label for="cargo_cutoff">Cargo Cutoff: </label>
                        <input id="cargo_cutoff" name="cargo_cutoff" value="{{ exportinfo.cargo_cutoff}}" type="datetime-local" class="form-control">
                        <br>
                        <label for="stacking_start">Stacking Start: </label>
                        <input id="stacking_start" name="stacking_start" value="{{ exportinfo.stacking_start}}" type="datetime-local" class="form-control">
                        <br>
                        <label for="stacking_close">Stacking Close: </label>
                        <input id="stacking_close" name="stacking_close" value="{{ exportinfo.stacking_close}}" type="datetime-local" class="form-control">
                        <br>
                        <label for="etd">ETD Real/实际开船日期：</label>
                        <input id="etd" name="etd" value="{{ exportinfo.etd}}" type="date" class="form-control">
                        <br>
                        <label for="eta">ETA/预计到港日期：</label>
                        <input id="eta" name="eta" value="{{ exportinfo.eta}}" type="date" class="form-control">
                        <script>
                            setSelected("pickup_ctrs","{{exportinfo.pickup_ctrs}}");
                            setSelected("cutoff_docmatriz","{{exportinfo.cutoff_docmatriz}}");
                            setSelected("cutoff_vgm","{{exportinfo.cutoff_vgm}}");
                            setSelected("cargo_cutoff","{{exportinfo.cargo_cutoff}}");
                            setSelected("stacking_start","{{exportinfo.stacking_start}}");
                            setSelected("stacking_close","{{exportinfo.stacking_close}}");
                            setSelected("etd","{{exportinfo.etd}}");
                            setSelected("eta","{{exportinfo.eta}}");
                        </script>
                        <script>
                            formatDateTime("pickup_ctrs", {{exportationinfo.pickup_ctrs}});
                            formatDateTime("cutoff_docmatriz", {{exportationinfo.cutoff_docmatriz}});
                            formatDateTime("cutoff_vgm", {{exportationinfo.cutoff_vgm}});
                            formatDateTime("cargo_cutoff", {{exportationinfo.cargo_cutoff}});
                            formatDateTime("stacking_start", {{exportationinfo.stacking_start}});
                            formatDateTime("stacking_close", {{exportationinfo.stacking_close}});
                            formatDate("etd","{{exportationinfo.etd}}");
                            formatDate("eta","{{exportationinfo.eta}}");
                        </script>
                        <br>
                    </fieldset>
                    <fieldset>
                        <legend>Weight and Size Information:</legend>
                        <label for="tare">Tare：</label>
                        <input id="tare" name="tare" value="{{ exportinfo.tare}}" type="text" class="form-control">
                        <br>
                        <label for="gross_weight">Gross Weight：</label>
                        <input id="gross_weight" name="gross_weight" value="{{ exportinfo.gross_weight}}" type="text" class="form-control">
                        <br>
                        <label for="size">Container Dimensions：</label>
                        <input id="size" name="size" value="{{ exportinfo.size}}" type="text" class="form-control">
                        <br>
                        <label for="net_weight">Net Weight：</label>
                        <input id="net_weight" name="net_weight" value="{{ exportinfo.net_weight}}" type="text" class="form-control">
                        <br>
                        <script>
                            setSelected("tare","{{exportinfo.tare}}");
                            setSelected("gross_weight","{{exportinfo.gross_weight}}");
                            setSelected("size","{{exportinfo.size}}");
                            setSelected("net_weight","{{exportinfo.net_weight}}");
                        </script>
                    </fieldset>
                </td>
            </tbody>
        </table>

        <table align="left">
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Container and Package Information:</legend>
                        <label for="package_type">Package Type：</label>
                        <input id="package_type" name="package_type" value="{{ exportinfo.package_type}}" type="text" class="form-control"required>*
                        <br>
                        <legend>Containers Type: </legend>
                        <select id="type_ctrs" name="type_ctrs" class="form-control" required>
                            <option value="" selected>Pls Select Ctrs-Type</option>
                            <option value="40HQ">40HQ</option>
                            <option value="40NR">40HR</option>
                            <option value="20GP">20GP</option>
                        </select> *
                        <br>
                        <label for="qty">Container Quantity：</label>
                        <input id="qty" name="qty" value="{{ exportinfo.qty}}" type="text" class="form-control"required>*
                        <br>
                        <label for="id_number">Container ID Number：</label>
                        <input id="id_number" name="id_number" value="{{ exportinfo.id_number}}" type="text" class="form-control"required>*
                        <br>
                        <label for="seal_number">Seal Number：</label>
                        <input id="seal_number" name="seal_number" value="{{ exportinfo.seal_number}}" type="text" class="form-control">
                        <br>
                        <label for="total_packages">Total Packages：</label>
                        <input id="total_packages" name="total_packages" value="{{ exportinfo.total_packages}}" type="text" class="form-control">
                        <br>
                        <label for="commodity">Commodity (Category)：</label>
                        <input id="commodity" name="commodity" value="{{ exportinfo.commodity}}" type="text" class="form-control">
                        <br>
                        <label for="hs_code">HS Code：</label>
                        <input id="hs_code" name="hs_code" value="{{ exportinfo.hs_code}}" type="text" class="form-control">
                        <br>
                        <label for="pickup_dpto">Pickup Dpto.：</label>
                        <input id="pickup_dpto" name="pickup_dpto" value="{{ exportinfo.pickup_dpto}}" type="text" class="form-control">
                        <br>
                        <label for="pickup_ref">Pickup Ref：</label>
                        <input id="pickup_ref" name="pickup_ref" type="text" class="form-control">
                        <br>
                        <label for="products"> Products：</label>
                        <textarea id="products" name="products"
                                  class="products" rows="10" cols="42" placeholder="Please Input Product Descriptions...">
                        </textarea>
                        <br>
                        <script>
                            document.getElementById("products").value = "{{exportinfo.products}}";
                            setSelected("type_ctrs","{{exportinfo.type_ctrs}}");
                            setSelected("package_type","{{exportinfo.package_type}}");
                            setSelected("qty","{{exportinfo.qty}}");
                            setSelected("id_number","{{exportinfo.id_number}}");
                            setSelected("seal_number","{{exportinfo.seal_number}}");
                            setSelected("total_packages","{{exportinfo.total_packages}}");
                            setSelected("commodity","{{exportinfo.commodity}}");
                            setSelected("hs_code","{{exportinfo.hs_code}}");
                            setSelected("pickup_dpto","{{exportinfo.pickup_dpto}}");
                            setSelected("pickup_ref","{{exportinfo.pickup_ref}}");
                        </script>
                    </fieldset>
                    <fieldset>
                        <legend>Payment Information:</legend>
                        <label for="client_name">Clint Name：</label>
                        <input id="client_name" name="client_name" type="text" class="form-control" required>*
                        <br>
                        <label for="client_rut">Clint RUT：</label>
                        <input id="client_rut" name="client_rut" type="text" class="form-control" required>*
                        <br>
                        <label for="client_giro">Clint Giro：</label>
                        <input id="client_giro" name="client_giro" type="text" class="form-control" required>*
                        <br>
                        <label for="client_address">Client Address：</label>
                        <input id="client_address" name="client_address" type="text" class="form-control">
                        <br>
                        <label for="client_city">Client City：</label>
                        <input id="client_city" name="client_city" type="text" class="form-control">
                        <br>
                        <label for="client_state">Client State：</label>
                        <input id="client_state" name="client_state" type="text" class="form-control">
                        <br>
                        <label for="client_country">Client Country：</label>
                        <input id="client_country" name="client_country" type="text" class="form-control">
                        <br>
                        <label for="client_email">Client Email：</label>
                        <input id="client_email" name="client_email" type="text" class="form-control" required>*
                        <br>
                        <label for="charge_code">Charge Code：</label>
                        <input id="charge_code" name="charge_code" value="{{ exportinfo.charge_code}}" type="text" class="form-control">
                        <br>
                        <label for="payment_type">Payment (Type)：</label>
                        <input id="payment_type" name="payment_type" value="{{ exportinfo.payment_type}}" type="text" class="form-control">
                        <br>
                        <label for="rateper">Rate Per：</label>
                        <input id="rateper" name="rateper" value="{{ exportinfo.rateper}}" type="text" class="form-control">
                        <br>
                        <label for="freightcharges">Freight and Charges：</label>
                        <input id="freightcharges" name="freightcharges" value="{{ exportinfo.freightcharges}}" type="text" class="form-control" placeholder="e.j. Total Flete">
                        <br>
                        <label for="prepaid">Prepaid：</label>
                        <input id="prepaid" name="prepaid" value="{{ exportinfo.prepaid}}" type="text" class="form-control" placeholder="e.j. USD">
                        <br>
                        <label for="collect">Collect：</label>
                        <input id="collect" name="collect" value="{{ exportinfo.collect}}" type="text" class="form-control">
                        <br>
                        <script>
                            setSelected("client_name","{{exportinfo.client_name}}");
                            setSelected("charge_code","{{exportinfo.charge_code}}");
                            setSelected("payment","{{exportinfo.payment}}");
                            setSelected("rateper","{{exportinfo.rateper}}");
                            setSelected("freightcharges","{{exportinfo.freightcharges}}");
                            setSelected("prepaid","{{exportinfo.prepaid}}");
                            setSelected("collect","{{exportinfo.collect}}");
                        </script>
                    </fieldset>
                </td>
            </tbody>
        </table>

        <table align="left">
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Shipper Information:</legend>
                        <label for="shipper_name">Shipper Name：</label>
                        <input id="shipper_name" name="shipper_name" value="{{ exportinfo.shipper_name}}" type="text" class="form-control" required>*
                        <br>
                        <label for="shipper_address">Shipper Address：</label>
                        <input id="shipper_address" name="shipper_address" value="{{ exportinfo.shipper_address}}" type="text" class="form-control">
                        <br>
                        <label for="shipper_city">Shipper City：</label>
                        <input id="shipper_city" name="shipper_city" value="{{ exportinfo.shipper_city}}" type="text" class="form-control">
                        <br>
                        <label for="shipper_state">Shipper State：</label>
                        <input id="shipper_state" name="shipper_state" value="{{ exportinfo.shipper_state}}" type="text" class="form-control">
                        <br>
                        <label for="shipper_country">Shipper Country：</label>
                        <input id="shipper_country" name="shipper_country" value="{{ exportinfo.shipper_country}}" type="text" class="form-control">
                        <br>
                        <label for="shipper_email">Shipper Email：</label>
                        <input id="shipper_email" name="shipper_email" value="{{ exportinfo.shipper_email}}" type="text" class="form-control">
                        <br>
                        <script>
                            setSelected("shipper_name","{{exportinfo.shipper_name}}");
                            setSelected("shipper_address","{{exportinfo.shipper_address}}");
                            setSelected("shipper_city","{{exportinfo.shipper_city}}");
                            setSelected("shipper_state","{{exportinfo.shipper_state}}");
                            setSelected("shipper_country","{{exportinfo.shipper_country}}");
                            setSelected("shipper_email","{{exportinfo.shipper_email}}");
                        </script>
                    </fieldset>
                    <fieldset>
                        <legend>Consignee Information:</legend>
                        <label for="consignee_name">Consignee Name：</label>
                        <input id="consignee_name" name="consignee_name" value="{{ exportinfo.consignee_name}}" type="text" class="form-control" required>*
                        <br>
                        <label for="consignee_address">Consignee Code：</label>
                        <input id="consignee_address" name="consignee_address" value="{{ exportinfo.consignee_address}}" type="text" class="form-control">
                        <br>
                        <label for="consignee_city">Consignee City：</label>
                        <input id="consignee_city" name="consignee_city" value="{{ exportinfo.consignee_city}}" type="text" class="form-control">
                        <br>
                        <label for="consignee_state">Consignee State：</label>
                        <input id="consignee_state" name="consignee_state" value="{{ exportinfo.consignee_state}}" type="text" class="form-control">
                        <br>
                        <label for="consignee_country">Consignee Country：</label>
                        <input id="consignee_country" name="consignee_country" value="{{ exportinfo.consignee_country}}" type="text" class="form-control">
                        <br>
                        <label for="consignee_email">Consignee Email：</label>
                        <input id="consignee_email" name="consignee_email" value="{{ exportinfo.consignee_email}}" type="text" class="form-control">
                        <br>
                        <script>
                            setSelected("consignee_name","{{exportinfo.consignee_name}}");
                            setSelected("consignee_address","{{exportinfo.consignee_address}}");
                            setSelected("consignee_city","{{exportinfo.consignee_city}}");
                            setSelected("consignee_state","{{exportinfo.consignee_state}}");
                            setSelected("consignee_country","{{exportinfo.consignee_country}}");
                            setSelected("consignee_email","{{exportinfo.consignee_email}}");
                        </script>
                    </fieldset>
                    <fieldset>
                        <legend>Notify Information:</legend>
                        <label for="notify_name">Notify Name：</label>
                        <input id="notify_name" name="notify_name" value="{{ exportinfo.notify_name}}" type="text" class="form-control" required>*
                        <br>
                        <label for="notify_address">Notify Code：</label>
                        <input id="notify_address" name="notify_address" value="{{ exportinfo.notify_address}}" type="text" class="form-control">
                        <br>
                        <label for="notify_city">Notify City：</label>
                        <input id="notify_city" name="notify_city" value="{{ exportinfo.notify_city}}" type="text" class="form-control">
                        <br>
                        <label for="notify_state">Notify State：</label>
                        <input id="notify_state" name="notify_state" value="{{ exportinfo.notify_state}}" type="text" class="form-control">
                        <br>
                        <label for="notify_country">Notify Country：</label>
                        <input id="notify_country" name="notify_country" value="{{ exportinfo.notify_country}}" type="text" class="form-control">
                        <br>
                        <label for="notify_email">Notify Email：</label>
                        <input id="notify_email" name="notify_email" value="{{ exportinfo.notify_email}}" type="text" class="form-control">
                        <br>
                        <script>
                            setSelected("notify_name","{{exportinfo.notify_name}}");
                            setSelected("notify_address","{{exportinfo.notify_address}}");
                            setSelected("notify_city","{{exportinfo.notify_city}}");
                            setSelected("notify_state","{{exportinfo.notify_state}}");
                            setSelected("notify_country","{{exportinfo.notify_country}}");
                            setSelected("notify_email","{{exportinfo.notify_email}}");
                        </script>
                        <label for="operation_status">* Status Finnish Op./操作是否已经完成：</label>
                        <input id="operation_status" name="operation_status" value="{{ exportinfo.operation_status}}" type="checkbox" value="YES"
                               class="form-control">
                        <script>
                            setSelected("operation_status","{{exportinfo.operation_status}}");
                        </script>
                    </fieldset>
                    <div align="right">
                        <input type="submit" value="Modify/保存" class="btn btn-primary pull-right"/>
                    </div>
                    </fieldset>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>

</form>
</body>
</html>