<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new business</title>
    <style type="text/css">
            /*表格样式*/
            table {
                width: 30%;
                background: #ccc;
                margin: 10px auto;
                border-collapse: collapse;
                /*border-collapse:collapse合并内外边距
                (去除表格单元格默认的2个像素内外边距*/
            }
            th,td {
                height: 25px;
                line-height: 25px;
                text-align: left;
                border: 1px solid #ccc;
            }
            th {
                background:#328aa4;
                color:#fff;
                font-weight: normal;
            }

            tr:nth-child(1n){
                 background:#eee;
             }
            tr:nth-child(2n) {
                background: #fff;
            }

            td a {
                color: #06f;
                text-decoration: none;
            }
            td a:hover {
                color: #06f;
                text-decoration: underline;
            }






    </style>

    <script type="text/javascript">
        function setSelected(selectID,value){
            select = document.getElementById(selectID);
                for (var i = 0; i < select.options.length; i++){
                if (select.options[i].value == value){
                    select.options[i].selected = true;
                    break;
                }
            }
        }

        function formatDate(dateID, dateString){
            dateObj = document.getElementById(dateID);
            var d = new Date(dateString);
            month = ''+ (d.getMonth()+1);
            day = ''+d.getDate();
            year= d.getFullYear();

           if (month.length < 2){
                  month = '0'+ month;
           }
           if (day.length < 2){
                day = '0'+ day;
           }
           dateString1 = [year,month,day].join('-');
           dateObj = document.getElementById(dateID);
           dateObj.value=dateString1;
        }

        function formatDateTime(dateTimeID, dateTimeString){
            var d = new Date(dateTimeString);
            hour = ''+ d.getHours();
            minute = '' + d.getMinutes();
            month = ''+ (d.getMonth()+1);
            day = ''+d.getDate();
            year= d.getFullYear();

           if (month.length < 2){
                  month = '0'+ month;
           }
           if (day.length < 2){
                day = '0'+ day;
           }
           if (hour.length < 2){
               hour = '0' + hour;
           }
           if (minute.length < 2){
               hour = '0' + hour;
           }
           dateTimeString1 = [year,month,day].join('-');
           dateTimeString2 = [hour,minute].join(':');
           dateTimeString3 = dateString1.concat(dateTimeString2);
           dateTimeObj = document.getElementById(dateTimeID);
           dateTimeObj.value=dateString3;
        }

        function setCheckbox(checkTboxID, checkboxString){
           checkboxObj = document.getElementById(checkboxID);
           if (checkboxString =="YES"){
              document.getElementById(checkboxID).checked = true;
           }
           if (checkboxString =="NO"){
              document.getElementById(checkboxID).checked = false;
           }
        }

        function uploadMultiFiles(filesID){
            var fileObj=document.getElementById("filesID");
            var formData=new FormData();
            var fileList=fileObj.files;
            console.log(fileList.length);
            for (const file of inputFile.files) {
                formData.append("files", file);
            }
            for(let i=0;i<fileList.length;i++) {
                var file=fileList[i];
                formData.append("file"+i,file);
                console.log(file.name+file.lastModifiedDate);
            }

        }



        function getShortFileName(longFilename){
            return longFilename.substr(longFilename.lastIndexOf(longFilename)+1);
        }

        function calCostVentaOrigen(){
            calCostLocal();
            calCostHBLDestino();
            var cost_org=document.getElementById("cost_org").value;
            var sale_org=document.getElementById("sale_org").value;
            document.getElementById("set_org").value = (parseFloat(sale_org)+parseFloat(cost_org))/2;
            document.getElementById("topaid_org").value=parseFloat(document.getElementById("set_org").value)+parseFloat(document.getElementById("local_org").value);
            document.getElementById("topaid_org_description").value = document.getElementById("set_org").value+"+"+document.getElementById("local_org").value;
            document.getElementById("venta_dest").value = sale_org;
            calVenta();
        }
        function calCostLocal(){
            if (document.getElementById("clientname").value == "亚美ASIAMERIC"){
                document.getElementById("local_org").value="370";
            }else{
                document.getElementById("local_org").value="0";
            }
        }
        function calCostHBLDestino(){
            if (document.getElementById("shipping_line").value=="MSC"){
                document.getElementById("costhbl_dest_description").value="90+125+102";
                document.getElementById("costhbl_dest").value=90+125+102;
            }else if (document.getElementById("shipping_line").value=="MSK"){
                document.getElementById("costhbl_dest_description").value="90+125+55";
                document.getElementById("costhbl_dest").value=90+125+55;
            }else if (document.getElementById("shipping_line").value=="YML"){
                document.getElementById("costhbl_dest_description").value="90+142+120";
                document.getElementById("costhbl_dest").value=90+142+120;
            }else if (document.getElementById("shipping_line").value=="OOCL"){
                document.getElementById("costhbl_dest_description").value="90+218+55";
                document.getElementById("costhbl_dest").value=90+218+55;
            }else if (document.getElementById("shipping_line").value=="CMA"){
                document.getElementById("costhbl_dest_description").value="90+120+50";
                document.getElementById("costhbl_dest").value=90+120+50;
            }else if (document.getElementById("shipping_line").value=="EMC"){
                document.getElementById("costhbl_dest_description").value="90+120+100";
                document.getElementById("costhbl_dest").value=90+120+100;
            }else{
                document.getElementById("costhbl_dest_description").value="90+X+X";
                document.getElementById("costhbl_dest").value="";
            }
        }


        function calVenta(){
            addi_cost=0;
            document.getElementById("toinvoice_dest_description").value=document.getElementById("venta_dest").value;
            document.getElementById("toinvoice_dest").value = document.getElementById("venta_dest").value;


            if (document.getElementById("shipping_line").value=="MSC"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+"+"X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="MSK"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="YML"){
                document.getElementById("toinvoice_dest_description").value +="+300+142";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+142;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="OOCL"){
                document.getElementById("toinvoice_dest_description").value +="+300+125+85";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125+85;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="CMA"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else if (document.getElementById("shipping_line").value=="EMC"){
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }else{
                document.getElementById("toinvoice_dest_description").value +="+300+125";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+300+125;
                if (document.getElementById("clientname").value=="骏和WS CARGO" && parseFloat(document.getElementById("num_hbls").value)>10){
                    addi_cost=(parseFloat(document.getElementById("num_hbls").value)-10)*25;
                    document.getElementById("toinvoice_dest_description").value +="+"+String(addi_cost);
                    document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+addi_cost;
                }else if (document.getElementById("clientname").value=="骏和WS CARGO" && document.getElementById("num_hbls").value==""){
                    document.getElementById("toinvoice_dest_description").value +="+X";
                    document.getElementById("toinvoice_dest").value="";
                }else{;}
            }
            if (document.getElementById("clientname").value=="亚美ASIAMERIC"){
                document.getElementById("toinvoice_dest_description").value +="+370";
                document.getElementById("toinvoice_dest").value=parseFloat(document.getElementById("toinvoice_dest").value)+370;
            }
            document.getElementById("profit").value = parseFloat(document.getElementById("toinvoice_dest").value)-parseFloat(document.getElementById("costhbl_dest").value)-parseFloat(document.getElementById("topaid_org").value);

        }

        function calCostVentaDestino(){
            //calCostLocal();
            //calCostHBLDestino();
            var cost_org=document.getElementById("cost_org").value;
            var sale_org=document.getElementById("sale_org").value;
            document.getElementById("set_org").value = (parseFloat(sale_org)+parseFloat(cost_org))/2;
            document.getElementById("topaid_org").value=parseFloat(document.getElementById("set_org").value)+parseFloat(document.getElementById("local_org").value);
            document.getElementById("topaid_org_description").value = document.getElementById("set_org").value+"+"+document.getElementById("local_org").value;
            //document.getElementById("venta_dest").value = sale_org;
            calVenta();
        }

    </script>
</head>
<body>

<form id="newbusiness-form" method="post" action="/exports/saveBusinessExport/">
    {% csrf_token %}
    <fieldset display="inline-block">
        <legend>Business Information:</legend>
        <table align="left">
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Vessel Information:</legend>
                        <label for="booking_no">Booking No：</label>
                        <input id="booking_no" name="booking_no" type="text" class="form-control" required>*
                        <br>
                        <label for="shipping_line">Carrier：</label>
                        <input id="shipping_line" name="shipping_line" type="text" class="form-control" required>*
                        <br>
                        <label for="vessel_voyage">Vessel Voyage：</label>
                        <input id="vessel_voyage" name="vessel_voyage" type="text" class="form-control" required>*
                        <br>
                        <label for="delivery_terminal">Delivery Terminal：</label>
                        <input id="delivery_terminal" name="delivery_terminal" type="text" class="form-control" required>*
                    </fieldset>
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Port Information:</legend>
                        <label for="pol">POL：</label>
                        <input id="pol" name="pol" type="text" class="form-control"required>*
                        <br>
                        <label for="pol_sailing">POL Sailing：</label>
                        <input id="pol_sailing" name="pol_sailing" type="text" class="form-control">
                        <br>
                        <label for="pod_discharge">POD Discharge：</label>
                        <input id="pod_discharge" name="pod_discharge" type="text" class="form-control">
                        <br>
                        <label for="pod">POD：</label>
                        <input id="pod" name="pod" type="text" class="form-control"required>*
                        <br>
                    </fieldset>

                    <fieldset>
                        <legend>Date Information:</legend>
                        <label for="pickup_ctrs">Pickup ctrs: </label>
                        <input id="pickup_ctrs" name="pickup_ctrs" type="datetime-local" class="form-control">
                        <br>
                        <label for="cutoff_docmatriz">Cutoff Doc. Matriz: </label>
                        <input id="cutoff_docmatriz" name="cutoff_docmatriz" type="datetime-local" class="form-control">
                        <br>
                        <label for="cutoff_vgm">Cutoff VGM: </label>
                        <input id="cutoff_vgm" name="cutoff_vgm" type="datetime-local" class="form-control">
                        <br>
                        <label for="cargo_cutoff">Cargo Cutoff: </label>
                        <input id="cargo_cutoff" name="cargo_cutoff" type="datetime-local" class="form-control">
                        <br>
                        <label for="stacking_start">Stacking Start: </label>
                        <input id="stacking_start" name="stacking_start" type="datetime-local" class="form-control">
                        <br>
                        <label for="stacking_close">Stacking Close: </label>
                        <input id="stacking_close" name="stacking_close" type="datetime-local" class="form-control">
                        <br>
                        <label for="etd">ETD Real/实际开船日期：</label>
                        <input id="etd" name="etd" type="date" class="form-control">
                        <br>
                        <label for="eta">ETA/预计到港日期：</label>
                        <input id="eta" name="eta" type="date" class="form-control">
                        <script>
                            formatDateTime("pickup_ctrs", {{exportationinfo.pickup_ctrs}});
                            formatDateTime("cutoff_docmatriz", {{exportationinfo.cutoff_docmatriz}});
                            formatDateTime("cutoff_vgm", {{exportationinfo.cutoff_vgm}});
                            formatDateTime("cargo_cutoff", {{exportationinfo.cargo_cutoff}});
                            formatDateTime("stacking_start", {{exportationinfo.stacking_start}});
                            formatDateTime("stacking_close", {{exportationinfo.stacking_close}});
                            formatDate("etd","{{exportationinfo.etd}}");
                            formatDate("eta","{{exportationinfo.eta}}");
                        </script>
                        <br>
                    </fieldset>
                    <fieldset>
                        <legend>Weight and Size Information:</legend>
                        <label for="tare">Tare：</label>
                        <input id="tare" name="tare" type="text" class="form-control">
                        <br>
                        <label for="gross_weight">Gross Weight：</label>
                        <input id="gross_weight" name="gross_weight" type="text" class="form-control">
                        <br>
                        <label for="size">Container Dimensions：</label>
                        <input id="size" name="size" type="text" class="form-control">
                        <br>
                        <label for="net_weight">Net Weight：</label>
                        <input id="net_weight" name="net_weight" type="text" class="form-control">
                        <br>
                    </fieldset>
                </td>
            </tbody>
        </table>

        <table align="left">
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Container and Package Information:</legend>
                        <label for="package_type">Package Type：</label>
                        <input id="package_type" name="package_type" type="text" class="form-control"required>*
                        <br>
                        <legend>Containers Type: </legend>
                        <select id="type_ctrs" name="type_ctrs" class="form-control" required>
                            <option value="" selected>Pls Select Ctrs-Type</option>
                            <option value="40HQ">40HQ</option>
                            <option value="40NR">40HR</option>
                            <option value="20GP">20GP</option>
                        </select> *
                        <br>
                        <label for="qty">Container Quantity：</label>
                        <input id="qty" name="qty" type="text" class="form-control"required>*
                        <br>
                        <label for="id_number">Container ID Number：</label>
                        <input id="id_number" name="id_number" type="text" class="form-control"required>*
                        <br>
                        <label for="seal_number">Seal Number：</label>
                        <input id="seal_number" name="seal_number" type="text" class="form-control">
                        <br>
                        <label for="total_packages">Total Packages：</label>
                        <input id="total_packages" name="total_packages" type="text" class="form-control">
                        <br>
                        <label for="commodity">Commodity (Category)：</label>
                        <input id="commodity" name="commodity" type="text" class="form-control">
                        <br>
                        <label for="hs_code">HS Code：</label>
                        <input id="hs_code" name="hs_code" type="text" class="form-control">
                        <br>
                        <label for="pickup_dpto">Pickup Dpto.：</label>
                        <input id="pickup_dpto" name="pickup_dpto" type="text" class="form-control">
                        <br>
                        <label for="pickup_ref">Pickup Ref：</label>
                        <input id="pickup_ref" name="pickup_ref" type="text" class="form-control">
                        <br>
                        <label for="products"> Products：</label>
                        <br>
                        <textarea id="products" name="products"
                                  class="form-control" rows="10" cols="42" placeholder="Please Input Products' Description...">
                    </textarea>
                        <br>
                    </fieldset>
                    <fieldset>
                        <legend>Payment Information:</legend>
                        <label for="client_name">Clint Name：</label>
                        <input id="client_name" name="client_name" type="text" class="form-control" required>*
                        <br>
                        <label for="client_rut">Clint RUT：</label>
                        <input id="client_rut" name="client_rut" type="text" class="form-control" required>*
                        <br>
                        <label for="client_giro">Clint Giro：</label>
                        <input id="client_giro" name="client_giro" type="text" class="form-control" required>*
                        <br>
                        <label for="client_address">Client Address：</label>
                        <input id="client_address" name="client_address" type="text" class="form-control">
                        <br>
                        <label for="client_city">Client City：</label>
                        <input id="client_city" name="client_city" type="text" class="form-control">
                        <br>
                        <label for="client_state">Client State：</label>
                        <input id="client_state" name="client_state" type="text" class="form-control">
                        <br>
                        <label for="client_country">Client Country：</label>
                        <input id="client_country" name="client_country" type="text" class="form-control">
                        <br>
                        <label for="client_email">Client Email：</label>
                        <input id="client_email" name="client_email" type="text" class="form-control" required>*
                        <br>
                        <label for="charge_code">Charge Code：</label>
                        <input id="charge_code" name="charge_code" type="text" class="form-control">
                        <br>
                        <label for="payment">Payment：</label>
                        <input id="payment" name="payment" type="text" class="form-control">
                        <br>
                        <label for="rateper">Rate Per：</label>
                        <input id="rateper" name="rateper" type="text" class="form-control">
                        <br>
                        <label for="freightcharges">Freight and Charges：</label>
                        <input id="freightcharges" name="freightcharges" type="text" class="form-control" placeholder="e.j. Total Flete">
                        <br>
                        <label for="prepaid">Prepaid：</label>
                        <input id="prepaid" name="prepaid" type="text" class="form-control" placeholder="e.j. USD">
                        <br>
                        <label for="collect">Collect：</label>
                        <input id="collect" name="collect" type="text" class="form-control">
                        <br>
                    </fieldset>
                </td>
            </tbody>
        </table>

        <table align="left">
            <tbody>
            <tr>
                <td>
                    <fieldset>
                        <legend>Shipper Information:</legend>
                        <label for="shipper_name">Shipper Name：</label>
                        <input id="shipper_name" name="shipper_name" type="text" class="form-control" required>*
                        <br>
                        <label for="shipper_address">Shipper Address：</label>
                        <input id="shipper_address" name="shipper_address" type="text" class="form-control">
                        <br>
                        <label for="shipper_city">Shipper City：</label>
                        <input id="shipper_city" name="shipper_city" type="text" class="form-control">
                        <br>
                        <label for="shipper_state">Shipper State：</label>
                        <input id="shipper_state" name="shipper_state" type="text" class="form-control">
                        <br>
                        <label for="shipper_country">Shipper Country：</label>
                        <input id="shipper_country" name="shipper_country" type="text" class="form-control">
                        <br>
                        <label for="shipper_email">Shipper Email：</label>
                        <input id="shipper_email" name="shipper_email" type="text" class="form-control">
                        <br>
                    </fieldset>
                    <fieldset>
                        <legend>Consignee Information:</legend>
                        <label for="consignee_name">Consignee Name：</label>
                        <input id="consignee_name" name="consignee_name" type="text" class="form-control" required>*
                        <br>
                        <label for="consignee_address">Consignee Code：</label>
                        <input id="consignee_address" name="consignee_address" type="text" class="form-control">
                        <br>
                        <label for="consignee_city">Consignee City：</label>
                        <input id="consignee_city" name="consignee_city" type="text" class="form-control">
                        <br>
                        <label for="consignee_state">Consignee State：</label>
                        <input id="consignee_state" name="consignee_state" type="text" class="form-control">
                        <br>
                        <label for="consignee_country">Consignee Country：</label>
                        <input id="consignee_country" name="consignee_country" type="text" class="form-control">
                        <br>
                        <label for="consignee_email">Consignee Email：</label>
                        <input id="consignee_email" name="consignee_email" type="text" class="form-control">
                        <br>
                    </fieldset>
                    <fieldset>
                        <legend>Notify Information:</legend>
                        <label for="notify_name">Notify Name：</label>
                        <input id="notify_name" name="notify_name" type="text" class="form-control" required>*
                        <br>
                        <label for="notify_address">Notify Code：</label>
                        <input id="notify_address" name="notify_address" type="text" class="form-control">
                        <br>
                        <label for="notify_city">Notify City：</label>
                        <input id="notify_city" name="notify_city" type="text" class="form-control">
                        <br>
                        <label for="notify_state">Notify State：</label>
                        <input id="notify_state" name="notify_state" type="text" class="form-control">
                        <br>
                        <label for="notify_country">Notify Country：</label>
                        <input id="notify_country" name="notify_country" type="text" class="form-control">
                        <br>
                        <label for="notify_email">Notify Email：</label>
                        <input id="notify_email" name="notify_email" type="text" class="form-control">
                        <br>
                        <label for="operation_status">* Status Finnish Op./操作是否已经完成：</label>
                        <input id="operation_status" name="operation_status" type="checkbox" value="YES"
                               class="form-control">
                    </fieldset>
                    <p align="right">
                        <input type="submit" value="Create/保存" class="btn btn-primary pull-right"/>
                    </p>
                </td>
            </tbody>
        </table>
        <br>
    </fieldset>

</form>
</body>
</html>